@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root{
    --primary-color:#F75F58;
    --off-white:#e8e8e8;
    --secondary-color:gray;
    --darkgray-color:#495464;
    --light-color:white;

}
*{
    margin:0;
    padding:0;
}
.navbar{
    width: 100%;
    height: 9rem;
    background-color: var(--primary-color);
    color:var(--light-color);
    border-radius: 5px;
    overflow: hidden;
}
.logo{
    width:100%;
    font-size: 2rem;
    font-weight: bold;
    padding:3rem;
    cursor:pointer;
}
.list{
    position:absolute;
    display: flex;
    top:0.1rem;
    right:0.5rem;
    margin:3rem;
    font-size: 1.5rem;
    list-style: none;

    
}
.list-inline{
    padding:1rem;
}
.link{
    color:var(--light-color);
    cursor:pointer;
    text-decoration: none;
}
.link:hover{
    background-color: var(--light-color);
    color:var(--primary-color);
    border-radius:10px;
    padding:0.5rem 1rem;
}
.nav-active{
    font-weight: bold;
}
@media(max-width:500px){
    .logo{
        padding:3rem 1rem;

    }  
    .list-inline{
        padding:0.5rem;
    }


    }

/* Svg Image */
.hero{
    padding:5rem 1rem;

    } 
    .hero .hero-img img{
    max-width: 400px;
    margin: auto;
    display: block;
    }

    .head{
        color:var(--darkgray-color);
        padding-top:2.5rem;
    }

    .header{
        padding-top:4rem;
        font-size:3rem;
        text-align: center;
    }
    span{
        color:var(--primary-color);
    }
    .hero-header{
        font-size: 1.5rem;
        text-align: center;
    }


    /* container */
    .container{
        margin:auto;
        padding:1rem;

    }
    .container-center{
        text-align: center;
    }
    .sec{
        color:var(--darkgray-color);
    }
    .hero-header{
        padding-bottom: 2rem;
    }

    .sec-header{
     padding:2rem;
     color:var(--darkgray-color);
     margin:1rem 0;
    }
    .off-white{
        
        background-color: var(--off-white);
    }
    .flex-center{
        padding:1rem 0;
        font-size: 1.5rem;
        display:flex;
        justify-content: center;     
    }
    .flex-center a{
        border:2px solid var(--off-white);
        border-radius:10px;
        padding:10px;
        color:var(--primary-color);
        background-color: var(--light-color);
        text-decoration: none;
    }

    .flex-center a:hover{
        background-color: var(--primary-color);
        color:var(--light-color);
        text-decoration: none;
    }

    /* footer */
    .footer{
        background-color: var(--primary-color);
        padding:5rem;
        text-align: center;
        color:var(--light-color);
        border-radius: 5px;

    }
    #link{
        color:white;
        padding: 2rem;
        font-size:2rem;
    }
    footer h1{
        padding-bottom: 2rem;
    }
    footer p{
        position: relative;
        padding:1rem;
    }
    

